@{
    Layout="_AdminLayout";
}
@using QLTTTM.models
@model QLTTTM.models.NhanVien

<div class="content-wrapper">
    @* <div class="page-header">
        <h3 class="page-title" style="font-weight:bold;font-size:30px;color:#ab8221">
            <span class="me-2">
                <i class="fa-solid fa-gift" style="color: #ab8221;"></i>
            </span> Quản Lý Thông Tin Sự Kiện
        </h3>
    </div> *@

    <div class="form_add_update">
        <h2>Thêm Nhân Viên</h2>
        
        <form asp-action="ThemNV" asp-controller="FunctionNV" method="post" enctype="multipart/form-data">

            @Html.ValidationSummary()
            <div class="form-group">
                <label asp-for="HOTEN">Họ và Tên:</label>
                <input type="text" id="name" name="HOTEN" asp-for="HOTEN">
                <span asp-validation-for="HOTEN" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="GIOITINH">Giới Tính:</label>
                <select id="gender" name="GIOITINH" asp-for="GIOITINH">
                    <option value="">Chọn giới tính</option>
                    <option value="true">Nam</option>
                    <option value="false">Nữ</option>
                </select>
                <span asp-validation-for="GIOITINH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SDT">Số Điện Thoại:</label>
                <input id="phone" name="SDT" asp-for="SDT" type="tel" inputmode="numeric" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                <span asp-validation-for="SDT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NGAYSINH">Ngày Sinh:</label>
                <input type="date" id="ngaysinh" name="NGAYSINH" asp-for="NGAYSINH"> 
                <span asp-validation-for="NGAYSINH" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="CCCD">Số CCCD/CMND:</label>
                <input id="phone" name="CCCD" asp-for="CCCD" type="tel" inputmode="numeric" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                <span asp-validation-for="CCCD" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DIACHI">Địa Chỉ:</label>
                <input type="text" id="address" name="DIACHI" asp-for="DIACHI">
                <span asp-validation-for="DIACHI" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EMAIL">Email:</label>
                <input type="text" id="email" name="EMAIL" asp-for="EMAIL">
                <span asp-validation-for="EMAIL" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NGAYVAOLAM">Ngày Vào Làm:</label>
                <input type="date" id="ngayvaolam" name="NGAYVAOLAM" asp-for="NGAYVAOLAM"> 
                <span asp-validation-for="NGAYVAOLAM" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AVATAR">Hình Ảnh:</label>
                <input type="file" id="image" accept="image/*" name="file" asp-for="AVATAR">
                <span asp-validation-for="AVATAR" class="text-danger"></span>
            </div>

            @if (ViewBag.cvs != null)
            {
                
                <div class="form-group">
                <label asp-for="MACV">Chức Vụ:</label>
                <select id="partner-type" name="MACV" asp-for="MACV">
                    <option value="">Chọn Chức Vụ</option>
                    @foreach (var cv in ViewBag.cvs)
                    {
                        // Kiểm tra từng phần tử của tập hợp trước khi sử dụng nó
                        if (cv != null)
                        {
                            <option value= "@cv.MACV" >@cv.TENCV</option>
                        }
                    }
                </select>
                <span asp-validation-for="MACV" class="text-danger"></span>
                </div>
            }
            else
            {
                // Xử lý tập hợp trống (null) nếu cần thiết
                <p>Không có chức vụ nào</p>
            }

            
            <div class="cover_submit">
                <button type="submit" class="btn-submit">Thêm</button>
            </div>
        </form>


    </div>

       
</div>