@{
    Layout = "_AdminLayout";
}
@using QLTTTM.models
@model QLTTTM.models.MatBang

<div class="content-wrapper">
    @* <div class="page-header">
    <h3 class="page-title" style="font-weight:bold;font-size:30px;color:#ab8221">
    <span class="me-2">
    <i class="fa-solid fa-gift" style="color: #ab8221;"></i>
    </span> Quản Lý Thông Tin Sự Kiện
    </h3>
    </div> *@

    <div class="form_add_update">
        <h2>Cập Nhật Mặt Bằng</h2>
        <form asp-action="CapNhatMB" asp-controller="Premises" method="post" enctype="multipart/form-data">
            @Html.ValidationSummary()

            <div class="form-group">
                <input type="hidden" id="name" name="MAMB" asp-for="MAMB">
            </div>



            <div class="form-group">
                <label asp-for="TENMB">Tên Mặt Bằng:</label>
                <input type="text" id="name" name="TENMB" asp-for="TENMB">
                <span asp-validation-for="TENMB" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="DIENTICH">Diện Tích:</label>
                <input id="dientich" name="DIENTICH" asp-for="DIENTICH" type="number" min="0" inputmode="numeric"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                <span asp-validation-for="DIENTICH" class="text-danger"></span>
            </div>





            <div class="form-group">
                <label asp-for="GIATIEN">Giá Tiền:</label>
                <input id="giatien" name="GIATIEN" asp-for="GIATIEN" type="number" min="0" inputmode="numeric"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                <span asp-validation-for="GIATIEN" class="text-danger"></span>
            </div>





            <div class="form-group">
                <label asp-for="VITRI">Vị Trí:</label>
                <input type="text" id="address" name="VITRI" asp-for="VITRI" readonly>
                <span asp-validation-for="VITRI" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="TRANGTHAI">Trạng Thái</label>
                <select id="trangthai" name="TRANGTHAI" asp-for="TRANGTHAI">
                    <option value="">Chọn trạng thái</option>
                    <option value="true">Đã Được Thuê</option>
                    <option value="false">Chưa Được Thuê</option>
                </select>
                <span asp-validation-for="TRANGTHAI" class="text-danger"></span>
            </div>




            <div class="form-group">
                <label asp-for="MOTA">Mô Tả:</label>
                <textarea id="description" name="MOTA" rows="8" asp-for="MOTA"></textarea>
                <span asp-validation-for="MOTA" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="IMAGEPATH">Hình Ảnh Tiêu Đề:</label>
                <input type="file" id="image" accept="image/*" name="tieude" asp-for="IMAGEPATH">
                <span asp-validation-for="IMAGEPATH" class="text-danger"></span>

            </div>



            <div class="form-group">
                <label asp-for="IMAGEPATH1">Hình Ảnh Chủ Đạo:</label>
                <input type="file" id="image" accept="image/*" name="chudao" asp-for="IMAGEPATH1">
                <span asp-validation-for="IMAGEPATH1" class="text-danger"></span>

            </div>



            <div class="form-group">
                <label asp-for="IMAGEPATH2">Hình Ảnh Nội Dung:</label>
                <input type="file" id="image" accept="image/*" name="noidung" asp-for="IMAGEPATH2" multiple>
                <span asp-validation-for="IMAGEPATH2" class="text-danger"></span>
            </div>




            <div class="cover_submit">
                <button type="submit" class="btn-submit">Cập Nhật</button>
            </div>
        </form>


    </div>


</div>