@using Microsoft.EntityFrameworkCore
@using QLTTTM.models
@{
    Layout = "_CustomeLayout";
}

<div class="main">
    <div id="banner">
        <!-- Carousel -->
        <div id="demo" class="carousel slide" data-bs-ride="carousel">

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            </div>

            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/images/hinhanhmall3.jpeg" alt="Los Angeles" class="d-block"
                        style="width:100%;height:730px">
                </div>
                <div class="carousel-item">
                    <img src="~/images/htc_mall.jpeg" alt="Chicago" class="d-block" style="width:100% ;height:730px">
                </div>
                <div class="carousel-item">
                    <img src="~/images/dubai-mall.jpg" alt="New York" class="d-block" style="width:100% ;height:730px">
                </div>
            </div>

            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div class="outstanding">
                <div class="text-center outstanding_title" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
                    data-aos-duration="3000">
                    <span class="material-symbols-outlined">
                        auto_awesome
                    </span>
                    <i class="fa-solid fa-star"></i>
                    <span class="material-symbols-outlined">
                        auto_awesome
                    </span>
                    NỔI BẬT
                    <span class="material-symbols-outlined">
                        auto_awesome
                    </span>
                    <i class="fa-solid fa-star"></i>
                    <span class="material-symbols-outlined">
                        auto_awesome
                    </span>
                </div>
                <div class="row" data-aos="zoom-in-up" data-aos-duration="3000" data-aos-deplay="3000">
                    @* @{
                        var noibat = Model.SuKiens.Where(x => x.LOAISK == "NB" && x.TRANGTHAI == true).OrderByDescending(x => x.MASK);
                        foreach (var item in noibat)
                            {
                                    <div class="col-md-3">
                                <a href="@Url.Action("EventDetail", "Custome" , new{mask = item.MASK})" style="text-decoration: none; color: black;">
                                                <div class="card">
                                                    <div class="card_img">
                                                        <img class="card_image_top" src="@item.IMAGEPATH" alt="KHUYEN MAI"
                                                            alt="Card image" style="width:100%">
                                                    </div>
                                                    <div class="note no-pointer-events ">
                                                        <div class="title_note" style="width:100%">
                                                            @item.TENSK
                                                        </div>
                                                        <div class="content_note">
                                                            @item.MOTA
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                    </div>
                            }
                    } *@
                </div>
            </div>
            <div class="icon_lien_he" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine"
                data-aos-duration="500">
                <a>
                    <i class="fa-brands fa-facebook facebook"></i>
                </a>
                <a>
                    <i class="fa-brands fa-facebook-messenger messenger"></i>
                </a>
                <a>
                    <i class="fa-brands fa-square-instagram instagram"></i>
                </a>
                <a>
                    <i class="fa-solid fa-envelope gmail"></i>
                </a>
                <a>
                    <i class="fa-solid fa-phone phone"></i>
                </a>
            </div>

            <div class="information" data-aos="fade-down-right" data-aos-duration="500">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="title-info">
                            <span>VỀ CHÚNG TÔI</span>
                        </div>
                        <div class="link-info">
                            <ul>
                                <li>
                                    <a href="#">Giới thiệu</a>
                                </li>
                                <li>
                                    <a href="#">Thông cáo báo chí</a>
                                </li>
                                <li>
                                    <a href="#">Cơ hội nghề nghiệp</a>
                                </li>
                                <li>
                                    <a href="#">Liên hệ </a>
                                </li>
                            </ul>
                        </div>

                        <div class="icon_lien_he about_us">
                            <a>
                                <i class="fa-brands fa-facebook facebook"></i>
                            </a>
                            <a>
                                <i class="fa-brands fa-facebook-messenger messenger"></i>
                            </a>
                            <a>
                                <i class="fa-brands fa-square-instagram instagram"></i>
                            </a>
                            <a>
                                <i class="fa-solid fa-envelope gmail"></i>
                            </a>
                            <a>
                                <i class="fa-solid fa-phone phone"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="title-info">
                            <span>TIỆN ÍCH</span>
                        </div>
                        <div class="link-info">
                            <ul>
                                <li>
                                    <a href="#">Đến HTC Mall</a>
                                </li>
                                <li>
                                    <a href="#">Giờ hoạt động</a>
                                </li>
                                <li>
                                    <a href="#">Sơ đồ hạ tầng</a>
                                </li>
                                <li>
                                    <a href="#">Tiện ích</a>
                                </li>
                            </ul>
                            <div class="image-congthuong">
                                <img src="~/images/bocongthuong.png" alt="" style="width: 207.25px ; height:78.41px;">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="title-info">
                            <span>TRUNG TÂM THƯƠNG MẠI HTC</span>
                        </div>
                        <div class="content-info">
                            <ul>
                                <li>
                                    Sở hữu và quản lý bởi :
                                </li>
                                <li>
                                    Công ty TNHH Đầu tư Xây Dựng Anh Cường
                                    Lầu 6, Toà nhà Đức Tiến , 828 Sư Vạn Hạnh, Phường 12, Q.10, TP.HCM
                                </li>
                                <li>
                                    Tel : 0906079708
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>