.brands{
    padding-top: 200px;
    font-family: 'Roboto',sans-serif;
}
.brand-header{
    font-size: 30px;
    color: rgb(171,130,33);
    padding-bottom: 15px;
}
.type-brand{
    font-size: 20px;
    color: rgb(171,130,33);
    font-weight: 700;
    font-style: bold;
    margin: 15px;
}
.brand-content .row{
    display: flex;
    justify-content: center;
}
.brand-content .col-md-3{
    width: 23%;
    height: 301.53;
    padding: 0px 15px 30px;
}
.card-brand{
    border: none;
    box-shadow: -0.5em 0 1em rgb(224, 224, 224);
    display: flex;
    align-items: center; /* Dọc giữa theo chiều dọc */
    justify-content: center; /* Dọc giữa theo chiều ngang */
    text-align: center; /* Căn giữa nội dung (nếu cần) */
    padding: 20px; /* Điều chỉnh padding theo nhu cầu */
    max-height: 400px; /* Đặt chiều cao cố định cho thẻ card */
    overflow: hidden; /* Ẩn nội dung vượt ra khỏi thẻ card nếu có */
}
.card-brand img{
    max-width: 100%;
    max-height: 120px; /* Điều chỉnh chiều cao tối đa theo nhu cầu */
    width: auto;
    transform: translateZ(0);
    margin: 0 auto;
    vertical-align: middle;
    object-fit: contain; /* Zoom lại để fit với thẻ card */
}

.content-brand-bottom{
    font-size: 15px;
    text-align: center;
    padding-top: 5px;
}
.content-brand-bottom h3{
    font-size: 25px;
}
.content-brand-bottom p {
    font-size: 15px;
}